
$break-small: 480px;

.header {
	width: 100%; 
	height: 800px;
	display: inline-block;
	position: relative;
	
	background: #46377d; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #46377d 0%, #6c498d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #46377d 0%,#6c498d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #46377d 0%,#6c498d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46377d', endColorstr='#6c498d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	.circle {
			position: absolute;
			width:90%;
			top: 50%; 
			left: 50%; 
			transform: translate(-50%, -50%);
			z-index: 0; 

			@media screen and (max-width: $break-small) {
        width: 100%;
      }
		}
	

	.container {
		padding-top: 175px;

		img {
			width: 150px; 
		}

		h1 {
			padding-top: 50px;
			margin-bottom: 15px;
			color: white; 
			letter-spacing: 0.3px; 
			font-weight: 400; 
			font-size: 3.4em;
			opacity: 0.9;
		}

		h2 {
			color: white; 
			letter-spacing: 0.3px; 
			font-weight: 300; 
			font-size: 2.8em;
			opacity: 0.5;	
		}
		
		.play-video {
			background: white;
			border: none; 
			border-radius: 50px; 
			margin-top: 50px;
			transition: 0.3s all ease-in-out;
			position: relative;
			@media screen and (max-width: $break-small) {
        z-index: 99999;
      }

			&:hover {
				transform: translateY(-4px);
			}
		}
	}
}



nav {
	position: absolute;
	top: 50px; 
	right: 75px; 
	z-index: 999;
	a {
		color: white;
		text-decoration: none; 
		font-family: "SFRegular", sans-serif; 
		letter-spacing: 1.5px;
		font-size: 1.5em;
		transition: 0.1s all ease-in-out;
		padding-right: 20px;

		&:hover {
			color: white; 
		}
	}
}

.video {
	position: fixed; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	opacity: 0; 
	pointer-events: none; 
	transition: 0.5s all ease-in-out;
	z-index: 9999; 
	background: rgba(0,0,0,0.8);

	i {
		position: absolute;
		z-index: 999999999;
		font-size: 20px;
		top: 50px; 
		left: 50px; 
		color: white;
		&:hover {
			cursor: pointer;
		}

		@media screen and (max-width: $break-small) {
      top: 10px;
      left: 10px;
    }
	}
	
	.video-frame {
		position: absolute;
		z-index: 99999999; 
		top: 50%; 
		left: 50%; 
		transform: translate(-50%, -50%);
		width: 900px; 
		height: 506px; 
		@media screen and (max-width: $break-small) {
      width: 400px; 
      height: 225;
    }
	}

}

.show-video {
	opacity: 1; 
	pointer-events: auto; 
}























