@charset "utf-8";
@import "normalize";
@import "header";
@import "feature";
@import "about";


@font-face {
  font-family: SFBold;
  src: url('../fonts/SF-UI-Text-Bold.otf');
}
@font-face {
  font-family: SFLight;
  src: url('../fonts/SF-UI-Text-Light.otf');
}
@font-face {
  font-family: SFRegular;
  src: url('../fonts/SF-UI-Text-Regular.otf');
}
@font-face {
  font-family: SFThin;
  src: url('../fonts/SF-UI-Text-Ultrathin.otf');
}


body {
  text-align: center;
  font-family: "SFRegular", sans-serif;
  font-size: 1em;
  text-rendering: geometricPrecision;
}

hr {
	margin: 0;
}

.text-right {
	text-align: right;
}

footer {
	background: #f1f1f1; 
	width: 100%; 
	padding: 30px 0; 
	padding-top: 50px;

	.three {
		text-align: left; 
		img {
			width: 50%;
		}

		p {
			padding-top: 10px;
			font-family: "SFRegular", sans-serif; 
			color: #333; 
			opacity: 0.8;
			letter-spacing: 1px;
		}
	}

	.nine {
		ul {
			text-align: right; 
			list-style: none; 
			padding-top: 50px;
			li {
				display: inline-block;
				a {
					color: #333; 
					font-family: "SFBold", sans-serif;
					padding-right: 10px;
					text-decoration: none; 
					text-transform: uppercase;
					font-size: 1.3em;
					opacity: 0.8;
					letter-spacing: 0.2px; 
				}
			}
		}
	}
}



























