@charset "utf-8";
@import "normalize";
@import "header";
@import "feature";


@font-face {
  font-family: SFBold;
  src: url('../fonts/SF-UI-Text-Bold.otf');
}
@font-face {
  font-family: SFLight;
  src: url('../fonts/SF-UI-Text-Light.otf');
}
@font-face {
  font-family: SFRegular;
  src: url('../fonts/SF-UI-Text-Regular.otf');
}
@font-face {
  font-family: SFThin;
  src: url('../fonts/SF-UI-Text-Ultrathin.otf');
}


body {
  text-align: center;
  font-family: "SFRegular", sans-serif;
  font-size: 1em;
  text-rendering: geometricPrecision;


  padding-bottom: 500px;
}

hr {
	margin: 0;
}

.text-right {
	text-align: right;
}
