---
title: Peer
---

<div class="header">
  <%= image_tag "circle.png", :class => 'circle' %>
  <div class="container">
    <div class="row">
      <div class="twelve">
        <%= image_tag "logo.png"%>
        <h1>A mixed reality educational experience</h1>
        <h2>Something Amazing - Buzzwords</h2>

        <a href="#" class="button video">Watch the Video</a>
      </div>
    </div>
  </div>
</div>
